<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            text: black;
        }
        table {
            table-layout: fixed;
            width: 100%;
        }
        td {
            width: 25%;
            text-align: center;
        }
        #total {
            margin-left: 75%;
            text-align: center;
        }
    </style>
    <title>Example App</title>
</head>
<body>

{{{body}}}

</body>
</html>
